<div id="<%= dom_id exchange %>">
  <p>
    <strong>Country:</strong>
    <%= exchange.country_id %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= exchange.symbol %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= exchange.name %>
  </p>

  <p>
    <strong><%= exchange.t :timezone %>:</strong>
    <%= exchange.timezone %>
  </p>

</div>
