<div id="<%= dom_id currency %>">
  <p>
    <strong>Currency:</strong>
    <%= currency.currency %>
  </p>

  <p>
    <strong>Alphabetic code:</strong>
    <%= currency.alphabetic_code %>
  </p>

  <p>
    <strong>Numeric code:</strong>
    <%= currency.numeric_code %>
  </p>

  <p>
    <strong>Minor unit:</strong>
    <%= currency.minor_unit %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= currency.active %>
  </p>

</div>
