<%= form_with(model: currency) do |form| %>
  <% if currency.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
        <% currency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.label :alphabetic_code, style: "display: block" %>
    <%= form.text_field :alphabetic_code %>
  </div>

  <div>
    <%= form.label :numeric_code, style: "display: block" %>
    <%= form.number_field :numeric_code %>
  </div>

  <div>
    <%= form.label :minor_unit, style: "display: block" %>
    <%= form.number_field :minor_unit %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
