<div id="<%= dom_id asset_pair %>">
  <p>
    <strong>Base asset:</strong>
    <%= asset_pair.base_asset_id %>
  </p>

  <p>
    <strong>Counter asset:</strong>
    <%= asset_pair.counter_asset_id %>
  </p>

  <p>
    <strong>Base rate:</strong>
    <%= asset_pair.base_rate %>
  </p>

  <p>
    <strong>Counter rate:</strong>
    <%= asset_pair.counter_rate %>
  </p>

  <p>
    <strong>Observed at:</strong>
    <%= asset_pair.observed_at %>
  </p>

</div>
