<p style="color: green"><%= notice %></p>

<%= render @option %>

<div>
  <%= link_to "Edit this option", edit_option_path(@option) %> |
  <%= link_to "Back to options", asset_pair_options_path(@underlying) %>

  <%= button_to "Destroy this option", @option, method: :delete %>
  <%= button_to_create @option.to_asset_pair_params%>
</div>
