<div id="<%= dom_id equity %>">
  <%= content_tag local_assigns.fetch(:tag, :h2) do %>
    <% if local_assigns[:link] %>
      <%= link_to "#{equity.name} (#{equity.symbol})", equity %>
    <% else %>
      <%= equity.name %> (<%= equity.symbol %>)
    <% end %>
  <% end %>
</div>
