<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Alpha2 code:</strong>
    <%= country.alpha2_code %>
  </p>

  <p>
    <strong>Alpha3 code:</strong>
    <%= country.alpha3_code %>
  </p>

  <p>
    <strong>Numeric code:</strong>
    <%= country.numeric_code %>
  </p>

</div>
