<div id="<%= dom_id exchange_rate %>">
  <p>
    <strong>Asset pair:</strong>
    <%= exchange_rate.asset_pair_id %>
  </p>

  <p>
    <strong>Base rate:</strong>
    <%= exchange_rate.base_rate %>
  </p>

  <p>
    <strong>Counter rate:</strong>
    <%= exchange_rate.counter_rate %>
  </p>

  <p>
    <strong>Observed at:</strong>
    <%= exchange_rate.observed_at %>
  </p>

</div>
